.first-block {
  border-style: solid;
  width: 40%;
}

.second-block {
  border-style: solid;
  height: 2em;
}

.third-block {
  float: right;
}

.main {
  display: flex;
}

@media screen and (max-width: 1341px) {
  .second-block {
    border-style: solid;
    height: 100%;
  }
}

@media screen and (max-height: 400px) {
  .second-block {
    border-style: solid;
    height: 2em;
    background: red;
  }
}

@media screen and (max-width: 800px) {
  .second-block {
    display: none;
  }
}
